# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env files
.env
.env.local
